#root {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    color: white !important;
    overflow-y: auto;

}

/* GRID */
.grid {
    display: grid;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    grid-template-columns: 1fr 1fr 280px;
    grid-template-rows: 80px 1fr 1fr 50px;

    grid-template-areas:
    "navbar navbar navbar"
    "hero hero sidebar"
    "content content sidebar"
    "footer footer footer";
}

/* GRID AREAS */
.nav_area {
    grid-area: navbar;
}
.hero { grid-area: hero;
}
.carousel-inner {
    max-height: 450px; /* carousel max height */
}

.carousel-inner img {
    width: 100%;       /* fill width */
    height: auto;      /* keep aspect ratio */
    object-fit: contain; /* fit inside the box without cropping */
}
.content { grid-area: content;margin: 15px; }
.sidebar {
    grid-area: sidebar;


}
.footer { grid-area: footer;
    text-align: center;
    color: white;
    align-content: center;
}

.navbar * {
    color: white !important;

}

.sidebar {
    overflow-y: auto;
    scrollbar-width: none;      /* Firefox */
    -ms-overflow-style: none;   /* IE/Edge (legacy) */
    margin: 10px;
}

.sidebar::-webkit-scrollbar {
    display: none;              /* Chrome/Safari */
}

.truncate-badge {
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.custom-dark-card {
    background-color: rgb(20, 20, 27) !important; /* ensure it overrides Bootstrap */
    color: #fff !important;                        /* ensure text is white */
    border-color: rgb(45, 45, 60) !important;
}

.custom-dark-card .card-body,
.custom-dark-card .card-title,
.custom-dark-card .card-text,
.custom-dark-card .card-header {
    color: #fff !important;
}

.hero{
    background-color: rgb(32, 32, 43);
    border-radius: 10px !important;
    margin:0px;
    padding:10px;
    color: white !important;
}

.card-container {
    display: flex;
    flex-wrap: wrap;        /* allows wrapping to next row */
    gap: 15px;              /* spacing between cards */
}

.card-container > * {
    flex: 1 1 calc(33.333% - 15px);
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* Desktop: 3 per row */
.card-wrapper > .Anime-Card {
    flex: 0 0 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
}

/* Tablet: 2 per row */
@media (max-width: 992px) {
    .card-wrapper > .Anime-Card {
        flex: 0 0 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

/* Mobile: 1 per row */
@media (max-width: 576px) {
    .card-wrapper > .Anime-Card {
        flex: 0 0 calc(100% - 20px);
        max-width: calc(100% - 20px);
    }
}
