#root {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    color: white !important;
}

/* GRID */
.grid {
    display: grid;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    grid-template-columns: 1fr 1fr 280px;
    grid-template-rows: 80px 1fr 1fr 50px;

    grid-template-areas:
    "navbar navbar navbar"
    "hero hero sidebar"
    "content content sidebar"
    "footer footer footer";
}

/* GRID AREAS */
.nav_area {
    grid-area: navbar;
}
.hero { grid-area: hero;
}
.content { grid-area: content;margin: 15px; }
.sidebar {
    grid-area: sidebar;


}
.footer { grid-area: footer;
    text-align: center;
    color: white;
    align-content: center;
}

.navbar * {
    color: white !important;

}

.sidebar {

    padding-left: 10px;
}

.hero{
    background-color: #404040 !important;
    border-radius: 10px !important;
    margin:0px;
    padding:10px;
    color: white !important;
}
