#root {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    color: white !important;

}

/* GRID */
.grid {
    display: grid;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    grid-template-columns: 1fr 1fr 280px;
    grid-template-rows: 80px 1fr 1fr 50px;

    grid-template-areas:
    "navbar navbar navbar"
    "hero hero sidebar"
    "content content sidebar"
    "footer footer footer";
}

/* GRID AREAS */
.nav_area {
    grid-area: navbar;
}
.hero { grid-area: hero;
}
.content { grid-area: content;margin: 15px; }
.sidebar {
    grid-area: sidebar;


}
.footer { grid-area: footer;
    text-align: center;
    color: white;
    align-content: center;
}

.navbar * {
    color: white !important;

}

.sidebar {

    padding-left: 10px;
}

.hero{
    background-color: rgb(32, 32, 43);
    border-radius: 10px !important;
    margin:0px;
    padding:10px;
    color: white !important;
}

.card-container {
    display: flex;
    flex-wrap: wrap;        /* allows wrapping to next row */
    gap: 15px;              /* spacing between cards */
}

.card-container > * {
    flex: 1 1 calc(33.333% - 15px);
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* Desktop: 3 per row */
.card-wrapper > .Anime-Card {
    flex: 0 0 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
}

/* Tablet: 2 per row */
@media (max-width: 992px) {
    .card-wrapper > .Anime-Card {
        flex: 0 0 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

/* Mobile: 1 per row */
@media (max-width: 576px) {
    .card-wrapper > .Anime-Card {
        flex: 0 0 calc(100% - 20px);
        max-width: calc(100% - 20px);
    }
}
